* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

img{
    width: 100px;
    height: 100px;
}

.cadastro{
  padding: 20px;
  background-color: #393939;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 24px rgba(255, 0, 0, 0.279);
  max-width: 400px;
  height: 750px;
  margin: 40px auto;
  align-items: center;
}

form{
    color: white;
    padding: 20px;
    font-family: Arial;
}

button{
    height: 35px;
    width: 90px;
    background-color: #ae0000;
    color: aliceblue;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    width: 140px;
    height: 40px;
    background-color: #ff0000;
    color: white;
}

input{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border: red;
    padding: 10px;
     margin: 10px auto;
}

input.checkbox{
    width: 20px;
    width: 20px;
}

body{
    background-image: url(imagens/Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}